.tabbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.30667rem;
    background-color: #fafafa;
    border-top: 1px solid #d9d9d9;
    z-index: 9999;
}
.tabbar a{
    flex: 1;
    font-size: 0.32rem;
    color: #666;
    text-align: center;
}
a.active{
    color: #b4282d;
}
.icon{
    background: url('../../../assets/images/icons/img-sprites-tabBar-s73fb615cb3-195f39fd2b.png') no-repeat;
    background-size: cover;
    width: 0.533333rem;
    height: 0.533333rem;
    display: inline-block;
    vertical-align: middle;
}
.iconIndex{
    background-position: 0 -3.33333rem;
}
.iconGoods{
    background-position: 0 -4.66667rem;
}
.iconCategory{
    background-position: 0 -2rem;
}
.iconCart{
    background-position: 0 -.66667rem;
}
.iconPersonal{
    background-position: 0 -6rem;
}
.active .iconIndex{
    background-position: 0 -2.66667rem;
}
.active .iconGoods{
    background-position: 0 -4rem;
}
.active .iconCategory{
    background-position: 0 -1.33333rem;
}
.active .iconCart{
    background-position: 0 0;
}
.active .iconPersonal{
    background-position: 0 -6rem;
}
.tabbar a span:last-child{
    display: block;
    line-height: 1;
    margin-top: .09333rem;
    background-size: .53333rem 6.53333rem;
}