body{
    font-family: PingFangSC-Light,helvetica,'Heiti SC';
}
body,p{
    margin: 0;
}
ul,ol{
    list-style: none;
    -webkit-margin-before: 0!important;
    -webkit-margin-after: 0!important;
    -webkit-padding-start: 0!important;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    border: none;
}
h1,h2,h3,h4,h5,h6{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
    background-color: transparent;
}