.kExplore > div:last-child{
    margin-bottom: 1.38667rem;
}

.exploreBanners{
    overflow: hidden;
    padding: .61333rem 0 .72rem;
    background-color: #fff;
}
.eBannerItems{
    display: flex;
    white-space: nowrap;
    transform: translateX(0px);
}
.eBannerItems li{
    flex-shrink: 0;
}
.eBannerItems li a{
    position: relative;
    display: block;
    overflow: hidden;
    width: 7.69333rem;
    height: 4.26667rem;
    border-radius: .10667rem;
    margin-left: .8rem;
    color: #fff;
    float: left;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition-duration: 0.3s;
}
.eBannerItems li a.active{
    transform: scale(1.13692,1.13692);
}
.eBannerItems li a .ctx{
    position: absolute;
    left: .38667rem;
    top: .66667rem;
}
.eBannerItems .title{
    margin: 0 .18667rem .32rem;
    font-size: .23333rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.eBannerItems .title::before,
.eBannerItems .title::after{
    content: ' ';
    display: block;
    width: .37333rem;
    height: 1px;
    background-color: #FFF;
}
.eBannerItems .desc{
    font-size: .42667rem;
    line-height: 1.2;
    text-align: left;
    margin-bottom: .14667rem;
    font-weight: 700;
}

.exploreChannels{
    overflow: hidden;
    height: 4.16rem;
    padding: .64rem 0 .72rem;
    background-color: #fff;
    margin-bottom: .26667rem;
    box-sizing: border-box;
}
.exploreChannels ul{
    overflow: scroll;
    display: flex;
    width: 100%;
}
.exploreChannels ul li{
    width: 2.18667rem;
    margin-right: .4rem;
    float: left;
}
.exploreChannels ul li:last-child{
    padding-right: .4rem;
}
.exploreChannels ul li:first-child{
    padding-left: .4rem;
}
.exploreChannels ul li a{
    display: block;
    font-size: .32rem;
}
.exploreChannels .wrapGoodImg{
    width: 2.18667rem;
    height: 2.18667rem;
    margin-bottom: .29333rem;
    border-radius: .05333rem;
    position: relative;
}
.exploreChannels .wrapGoodImg p{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-weight: 700;
    width: 1.54667rem;
    height: .42667rem;
    background: url(../assets/images/img-icon-normal-rbGradient-049c62dfb5.png) no-repeat;
    background-size: 100%;
}
.cTxt{
    color: #333;
    line-height: 1;
    text-align: center;
    letter-spacing: 1px;
}
.exploreRcmds{
    padding: 0 .4rem .53333rem;
    margin-bottom: .26667rem;
    background-color: #fff;
}
.exploreRcmds .minorItem:last-child{
    margin-bottom: 0;
}
.moduleTitle{
    text-align: center;
    font-size: .42667rem;
    height: 1.6rem;
    line-height: 1.6rem;
}
.mainPosItem{
    display: block;
    color: #333;
    border: 1px solid #d9d9d9;
    border-radius: .10667rem;
    overflow: hidden;
    margin-bottom: .4rem;
}
.mainImg{
    position: relative;
    height: 5.14667rem;
    border-radius: .10667rem .10667rem 0 0;
    overflow: hidden;
}
.topicTag{
    position: absolute;
    top: .26667rem;
    left: .26667rem;
    height: .48rem;
    line-height: .48rem;
}
.topicTag span{
    display: inline-block;
    padding: 0 .21333rem;
    font-size: .32rem;
    height: 100%;
    background-color: rgba(255,255,255,.9);
    border: 1px solid #d9d9d9;
    border-radius: .26667rem;
    color: #333;
}
.mainInfo{
    overflow: hidden;
    padding: .32rem .26667rem 0.893333rem;
}
.mainInfo p:first-child{
    font-size: .48rem;
    margin-bottom: .25333rem;
}
.mainInfo p:last-child{
    font-size: .37333rem;
    line-height: 1.2;
    color: #7f7f7f;
}

.minorItem{
    color: #333;
    border: 1px solid #d9d9d9;
    border-radius: .05333rem;
    margin-bottom: .4rem;
    display: flex;
}
.minorItem .topicInfo{
    padding-left: .26667rem;
    padding-right: .4rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
}
.author{
    width: 100%;
    height: 0.64rem;
    font-size: 0.26666rem;
    margin-bottom: .33333rem;
}
.author img{
    width: 0.64rem;
    height: 0.64rem;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 0.10667rem;
}
.author span{
    vertical-align: middle;
}
.infoTitle{
    font-size: .42667rem;
    margin-bottom: .18667rem;
    line-height: 1.2;
    width: 100%;
}
.minorItem .topicInfo > p:last-child{
    font-size: .32rem;
    line-height: 1.5;
    color: #7f7f7f;
    width: 100%;
}
.minorItem .mainImg{
    width: 3.73333rem;
    height: 3.62667rem;
    position: relative;
}
.minorItem .topicTag{
    top: .13333rem;
    left: .13333rem;
}
.exploreTenFifteen{
    overflow: hidden;
    padding-bottom:.53333rem;
    height: 7.61333rem;
    background-color: #fff;
    margin-bottom: .26667rem;
}

.wrapSwipe{
    width: 100%;
    overflow: hidden;
}
.wrapSwipe ul{
    overflow: scroll;
    display: flex;
}
.wrapSwipe ul li{
    flex-shrink: 0;
    box-sizing: border-box;
    position: relative;
    width: 7.73333rem;
    height: 5.48rem;
    padding: .50667rem .53333rem 1.05333rem;
    margin-right: .4rem;
    text-align: center;
    color: #333;
    background-image: url(../assets/images/icons/tenFifteen-2a1d0ea11b.png);
}
.wrapSwipe ul li:first-child{
    margin-left: .4rem;
}
.wrapSwipe ul li:last-child{
    
}
.wrapSwipe ul li a{
    display: block;
}
.tfTip{
    margin: 0 .10667rem .53333rem;
    font-size: .32rem;
    color: #7f7f7f;
    display: flex;
    text-align: center;
    justify-content: center;
}
.tfTip span{
    margin: 0 .10667rem;
}
.tfTip::before,
.tfTip::after{
    content: ' ';
    display: block;
    width: .32rem;
    height: 1px;
    margin-top: 0.18rem;
    background-color: #7f7f7f;
    transform: scaleY(0.5);
}
.tfItem .title{
    font-size: .48rem;
    font-weight: 700;
    margin-bottom: .18667rem;
}
.tfItem .desc{
    font-size: .37333rem;
    line-height: 1.5;
}
.joinInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1.05333rem;
    left: 0;
    right: 0;
}
.joinInfo img,
.joinInfo .dots{
    position: relative;
    float: left;
    height: .64rem;
    width: .64rem;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 50%;
    vertical-align: middle;
}
.dots{
    margin-right: .21333rem;
    background-color: #d9d9d9;
    margin-left: -.08rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dots span{
    width: .08rem;
    height: .08rem;
    border-radius: 50%;
    margin-right: .05333rem;
    background-color: #fff;
    display: inline-block;
}
.joinInfo > span{
    float: left;
    text-align: left;
    line-height: .64rem;
    font-size: .32rem;
    color: #7f7f7f;
    vertical-align: middle;
}
.wrapSwipe .more a{
    height: 100%;
    color: #7f7f7f;
    font-size: .42667rem;
    line-height: .50667rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapSwipe .more a span:last-child{
    margin-left: .22667rem;
    width: .4rem;
    height: .4rem;
}

.exploreGlobal{
    background-color: #fff;
}
.exploreGlobal .wrapMainImg img{
    width: 100%;
    height: auto;
}
.exploreGlobal .descripText{
    padding: .26667rem .4rem .68rem;
}
.exploreGlobal .descripText .dtName{
    margin-right: .4rem;
    font-size: .48rem;
    margin-bottom: .24rem;
    color: #333;
}
.exploreGlobal .descripText .dtText{
    font-size: .37333rem;
    line-height: 1.2;
    color: #7f7f7f;
}