body{
    font-family: segoe ui, helvetica neue, helvetica, arial, sans-serif;
    color: #fff;
}
.container{
    background: url("images/bg.jpg") repeat-x;
    height: 500px;
    width: 1260px;
    overflow: hidden;
}
.tube-container{
    position: relative;
}
.tube{
    display: inline-block;
    position: absolute;
}
.tube1{
    margin-top: 6px;
}
.tube2{
    margin-top: 114px;
}
.tube-body{
    background: url("images/5.png") repeat-y 3px 0px;
    margin-top: -6px;
}
.floor{
    background: url("images/6.png") repeat-x;
    height: 50px;
    width: 1260px;
}
/***bird***/
@keyframes birdFly{
    0% {background-position: 0 0;}
    100% {background-position: 0 -87px;}
}
#bird{
    background: url("images/bird.png") no-repeat 0 0;
    width: 40px;
    height: 29px;
    position: absolute;
    top: 200px;
    left: 300px;
    z-index: 999;
    animation: birdFly 0.3s steps(3,end) infinite alternate;
    transition: transform 0.3s;
}
/***score***/
.score{
    display: none;
    position: absolute;
    margin: 0px 600px;
    font-size: 50px;
    font-weight: 600;
    z-index: 1000;
}
/***pop-start***/
.pop-start{
    background: url("images/ready.png") no-repeat;
    position: absolute;
    top: 170px;
    left: 520px;
    z-index: 111;
    width: 300px;
    height: 200px;
    padding-top: 70px;
}
h3{
    margin-top: 0;
    font-size: 16px;
}
/***pop-sreload***/
.pop-reload{
    display: none;
    background: url("images/over.png") no-repeat;
    position: absolute;
    z-index: 112;
    top: 170px;
    left: 520px;
    width: 300px;
    height: 200px;
}
.get-score{
    height: 40px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-indent: 15px;
    font-size: 30px;
}
.startBtn,.reload-btn{
    width: 65px;
    height: 35px;
    margin-left: 60px;
    cursor: pointer;
}